# Python
__pycache__
*.py[cod]
.env
.coverage
.htmlcov

# IDEs
.idea/

# OSX
.DS_Store

# Dev
db.sqlite3
opsnr.stt

# Generated Docs
/docs/site

*.bak
/requirements/dev_local.txt
/.python-version
/TODO
/RUN_TESTS_BEFORE_PUSH
build/
dist/
/.cache
/.tox
/docs/_*

# Logs
var/*.log
log/*
/.dir-locals.el

# Editors - Emacs
*~